name: Deployment Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Sync files to server using SFTP (Rsync over SSH)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "./*,!.git"
          target: "~/backend"
          overwrite: true
      - name: Restart Docker Compose and Reload
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ~/backend/core_api
            sudo docker stop tiqn-backend-prod
            sudo docker rm tiqn-backend-prod
            docker image prune -af
            docker system prune -f
            rm .env
            touch .env
            echo 'ANTHROPIC_API_KEY=${{ secrets.ANTHROPIC_API_KEY }}' >> .env
            echo 'AZURE_OPENAI_API_KEY=${{ secrets.AZURE_OPENAI_API_KEY }}' >> .env
            echo 'AZURE_OPENAI_CHAT_URL=${{ secrets.AZURE_OPENAI_CHAT_URL }}' >> .env
            echo 'AZURE_OPENAI_TRANSCRIBE_URL=${{ secrets.AZURE_OPENAI_TRANSCRIBE_URL }}' >> .env
            echo 'AZURE_OPENAI_TTS_MODEL=${{ secrets.AZURE_OPENAI_TTS_MODEL }}' >> .env
            echo 'AZURE_OPENAI_TTS_URL=${{ secrets.AZURE_OPENAI_TTS_URL }}' >> .env
            echo 'AZURE_OPENAI_TTS_VOICE=${{ secrets.AZURE_OPENAI_TTS_VOICE }}' >> .env
            echo 'AZURE_SPEECH_ENDPOINT=${{ secrets.AZURE_SPEECH_ENDPOINT }}' >> .env
            echo 'AZURE_SPEECH_KEY=${{ secrets.AZURE_SPEECH_KEY }}' >> .env
            echo 'AZURE_SPEECH_REGION=${{ secrets.AZURE_SPEECH_REGION }}' >> .env
            echo 'CONVEX_DEPLOYMENT=${{ secrets.CONVEX_DEPLOYMENT }}' >> .env
            echo 'CONVEX_URL=${{ secrets.CONVEX_URL }}' >> .env
            echo 'ENVIRONMENT=${{ secrets.ENVIRONMENT }}' >> .env
            echo 'HOST=${{ secrets.HOST }}' >> .env
            echo 'LOG_LEVEL=${{ secrets.LOG_LEVEL }}' >> .env
            echo 'PORT=${{ secrets.PORT }}' >> .env
            echo 'SSH_IP=${{ secrets.SSH_IP }}' >> .env
            echo 'SSH_PRIVATE_KEY=${{ secrets.SSH_PRIVATE_KEY }}' >> .env
            echo 'SSH_USER=${{ secrets.SSH_USER }}' >> .env

            sudo docker build -t tiqn-backend .
            sudo docker run --env-file .env -d -p 80:8000 --name tiqn-backend-prod tiqn-backend
